In [46]:
import numpy as  np
import pandas as pd

In [47]:
df=pd.read_csv("milknew.csv")

In [48]:
df

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0     6.6          35      1     0     1          0     254    high
1     6.6          36      0     1     0          1     253    high
2     8.5          70      1     1     1          1     246     low
3     9.5          34      1     1     0          1     255     low
4     6.6          37      0     0     0          0     255  medium
...   ...         ...    ...   ...   ...        ...     ...     ...
1054  6.7          45      1     1     0          0     247  medium
1055  6.7          38      1     0     1          0     255    high
1056  3.0          40      1     1     1          1     255     low
1057  6.8          43      1     0     1          0     250    high
1058  8.6          55      0     1     1          1     255     low

[1059 rows x 8 columns]

In [49]:
df.describe

<bound method NDFrame.describe of        pH  Temprature  Taste  Odor  Fat   Turbidity  Colour   Grade
0     6.6          35      1     0     1          0     254    high
1     6.6          36      0     1     0          1     253    high
2     8.5          70      1     1     1          1     246     low
3     9.5          34      1     1     0          1     255     low
4     6.6          37      0     0     0          0     255  medium
...   ...         ...    ...   ...   ...        ...     ...     ...
1054  6.7          45      1     1     0          0     247  medium
1055  6.7          38      1     0     1          0     255    high
1056  3.0          40      1     1     1          1     255     low
1057  6.8          43      1     0     1          0     250    high
1058  8.6          55      0     1     1          1     255     low

[1059 rows x 8 columns]>

In [50]:
df.isnull().sum()  #the data is already clean sice no null values are present

pH            0
Temprature    0
Taste         0
Odor          0
Fat           0
Turbidity     0
Colour        0
Grade         0
dtype: int64

In [51]:
from sklearn.ensemble import RandomForestClassifier  
from sklearn.model_selection import train_test_split

In [52]:
classifier= RandomForestClassifier(n_estimators= 10, criterion="entropy")
"pH","Temprature","Taste","Odor","Fat","Turbidity","Colour"

('pH', 'Temprature', 'Taste', 'Odor', 'Fat', 'Turbidity', 'Colour')

In [53]:
para=df.drop(["Grade"],axis=1)
res=df['Grade']

In [54]:
para

       pH  Temprature  Taste  Odor  Fat   Turbidity  Colour
0     6.6          35      1     0     1          0     254
1     6.6          36      0     1     0          1     253
2     8.5          70      1     1     1          1     246
3     9.5          34      1     1     0          1     255
4     6.6          37      0     0     0          0     255
...   ...         ...    ...   ...   ...        ...     ...
1054  6.7          45      1     1     0          0     247
1055  6.7          38      1     0     1          0     255
1056  3.0          40      1     1     1          1     255
1057  6.8          43      1     0     1          0     250
1058  8.6          55      0     1     1          1     255

[1059 rows x 7 columns]

In [55]:
res

0         high
1         high
2          low
3          low
4       medium
         ...
1054    medium
1055      high
1056       low
1057      high
1058       low
Name: Grade, Length: 1059, dtype: object

In [56]:
paratrain,paratest,restrain,restest=train_test_split(para,res,random_state=1,test_size=0.2)

In [57]:
classifier.fit(paratrain,restrain)

RandomForestClassifier(criterion='entropy', n_estimators=10)

In [58]:
res_pred= classifier.predict(paratest)

In [59]:
res_pred

array(['medium', 'low', 'high', 'low', 'high', 'medium', 'low', 'low',
       'high', 'low', 'high', 'medium', 'high', 'medium', 'high',
       'medium', 'medium', 'high', 'low', 'low', 'medium', 'medium',
       'high', 'low', 'medium', 'medium', 'medium', 'medium', 'low',
       'medium', 'low', 'low', 'high', 'low', 'high', 'high', 'high',
       'medium', 'medium', 'low', 'high', 'low', 'medium', 'medium',
       'high', 'medium', 'low', 'medium', 'medium', 'high', 'low', 'high',
       'medium', 'low', 'low', 'low', 'medium', 'low', 'high', 'high',
       'medium', 'low', 'low', 'medium', 'low', 'high', 'low', 'medium',
       'low', 'medium', 'low', 'high', 'low', 'low', 'high', 'medium',
       'high', 'low', 'high', 'low', 'medium', 'low', 'medium', 'low',
       'low', 'low', 'medium', 'low', 'medium', 'low', 'medium', 'medium',
       'high', 'high', 'high', 'low', 'low', 'low', 'low', 'medium',
       'low', 'medium', 'low', 'medium', 'medium', 'low', 'low', 'medium',
       'low', 'medium', 'low', 'medium', 'medium', 'high', 'low',
       'medium', 'high', 'low', 'low', 'low', 'high', 'low', 'medium',
       'low', 'low', 'low', 'low', 'medium', 'medium', 'medium', 'medium',
       'medium', 'medium', 'high', 'high', 'high', 'low', 'low', 'low',
       'high', 'low', 'low', 'medium', 'low', 'high', 'low', 'medium',
       'low', 'medium', 'medium', 'low', 'low', 'low', 'medium', 'low',
       'medium', 'medium', 'medium', 'low', 'low', 'medium', 'medium',
       'medium', 'low', 'medium', 'low', 'medium', 'low', 'medium', 'low',
       'low', 'low', 'medium', 'medium', 'high', 'low', 'low', 'low',
       'high', 'high', 'low', 'medium', 'high', 'low', 'medium', 'low',
       'high', 'low', 'medium', 'low', 'medium', 'medium', 'low',
       'medium', 'high', 'low', 'medium', 'high', 'high', 'medium',
       'medium', 'high', 'low', 'low', 'low', 'medium', 'low', 'high',
       'medium', 'low', 'low', 'low'], dtype=object)

In [60]:
from sklearn.metrics import accuracy_score
accuracy_score(restest,res_pred)

1.0

In [65]:
#testing for low grade
# pH=6.7
# Temprature=50
# Taste=1
# Odor=0
# Fat=0
# Turbidity=1
# Colour=255


#testing for High grade
pH=6.7
Temprature=37
Taste=1
Odor=0
Fat=1
Turbidity=1
Colour=255

In [66]:
test=[[pH,Temprature,Taste,Odor,Fat,Turbidity,Colour]]

In [67]:
def predi(test):
    prediction=classifier.predict(test)
    print(prediction)
    if prediction =="low" :
      return 'Grade/Quality of milk is low'
    elif prediction =="medium" :
      return 'Grade/Quality of milk is medium'
    elif prediction =="high":
      return 'Grade/Quality of milk is high'

In [68]:
print(predi(test))

['high']
Grade/Quality of milk is high

C:\Users\HP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(